{% extends "Base.html" %}
    {% load crispy_forms_tags %}
    {% load static %}
    {% block content %}
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.min.css' %}">
    <h1 > EDIT- {{inventory.ItemID}}</h1>
<div class = "container">
    <form method = "POST">
        {% csrf_token %}
        {{g}}
        <input type = "submit" class = "btn btn-primary">
        <input type = "" class = "btn btn-danger">
    </form>
    {% if msg %}
      {{msg}}
    {% endif %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th scope = "col">ItemID</th>
                <th scope = "col">Name</th>
                <th scope = "col">Quantity</th>
                <th scope = "col">UnitPrice</th>
            </tr>
        </thead>
        <tbody>
           {% for inventory in inventory %}
        <tr>
            <th scope = "row">{{inventory.ItemID}}</th>
            <td>{{inventory.Name}}</td>
            <td>{{inventory.Quantity}}</td>
            <td>{{inventory.UnitPrice}}</td> 
            <td>
                <a href = "{%  url 'edit_inventory_page' inventory.ItemID %}">Edit</a>|
                <a href = "{% url 'delete_inventory_page' inventory.ItemID%}"
                onclick = " return confirm ('DO YOU WANT TO DELETE THIS VALUE?')">
                Delete
                </a>

            </td>          
        </tr>
           {% endfor %} 
        </tbody>
    </table>  
</div>  
<a href = "{% url 'home_page' %} "> HOME </a>
{% endblock content %}